<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planbow - Planning made easy</title>

    <meta name="description" content="We make planning your social life in London easier by connecting points of interest. We do this by leveraging social networks to help you find out the activities for your plans" />

    <meta name="keywords" content="what to do in London, plan birthdays, plan dates, first date, romantic date ideas, pub crawl in London, fun date ideas, night out in London, where to go in London, trending in London, activities in London, plans for tomorrow, plans for tonight"  />

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet">

    
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34789441-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
 
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
 
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="http://www.planbow.com">Planbow</a>
 
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse pull-right">
            <ul class="nav">
                <li class="dropdown">
                    <a href="~/Views/Labs" class="dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Labs/Hot4Dinner">Hot4Dinner</a></li>
                    </ul>
                </li>
                <li><a href="http://blog.planbow.com/">Blog</a></li>
                <li><a href="https://twitter.com/FindPlans" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/Planbow" target="_blank">Facebook</a></li>
                    
            </ul>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        
        <div class="hero-unit" style="background-color:#008baa;margin-top:10px;padding: 10px 50px 0px 50px;">
            <div class="row">
                <div class="span7">
                    <img src="~/img/planbowBanner.jpg" style="width:400px;margin-left:-40px;" />
                    <p style="color:white">
                        Connecting points of interest to make your social life easier.
                        <br />
                        Coming soon to iPhone, Android and Windows 8
                    </p>
                    <br />
                    <br />
                    <h2 style="color:white">Sign up now!</h2>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup" style="width:360px;">
                        <form action="http://twitter.us5.list-manage1.com/subscribe/post?u=bbd25dcad835a16fb1a023639&amp;id=7bc9c28ab7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	                        <label for="mce-EMAIL" style="color:white;margin-bottom:10px;">Join our mailing list and notified when the app is available</label>
	                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	                        <div style="margin:-44px 0px 0px 230px;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-large btn-warning" style="color:#383838;font-weight:bold"></div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->

                    
                </div>
                <div class="span4">
                    <img src="~/img/planbowApp.png" alt="Planbow mobile application; Coming soon to iPhone, Android and Windows 8"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span4">
                <h4>What to do for a birthday?</h4>
                <p>Find out what your friends did from their Foursquare check-ins.</p>
            </div>
            <div class="span4">
                <h4>Drinks before dinner?</h4>
                <p>We analyze Foursquare check-ins to suggest the best venues to go to before or after your main activity.</p>
            </div>
            <div class="span4">
                <h4>Events with more than one destination!</h4>
                <p>A pub crawl or a special date you can create them all and invite your guests.</p>
            </div>
        </div>

        <hr />
        
        <footer>
            <p>&copy; Planbow 2012</p>
        </footer>
    </div>
    

    

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


