<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <targets>
    <!-- layout="${date:format=yyyyMMddHHmmss} ${logger} ${message}" -->
    <target name="logfile" xsi:type="File"
            layout="${message}"
            fileName="${basedir}/current.log"
            archiveFileName="${basedir}/archives/archive.${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>