<div class="content-wrapper">
    <div>
        <img src="~/Images/planbowBanner.jpg" width="240" />
    </div>
    
    <div id="mainlayout">
        Coming soon is a tool to help you plan your activities easily.

        <a href="~/index.html" target="_blank">View demo</a>
    </div>
</div>
