
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Planbow - Hot4Dinner</title>
    
    <!-- Using Google Fonts: Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/map.css" type="text/css" />

    <style>
        body { font-family: 'Open Sans', sans-serif; }

        #mapContainer {
          position:relative;
          height:300px;
          margin-top: 2px;
        }

        #map {
          background:#fff;
          position:absolute;
          width:100%;
          height:100%;
          top:0;
          left:0;
        }        

        #footer {
            height: 50px;
	        background: #008baa;
            bottom:0px;
            width:100%;
	        position:absolute;
            left:0px; 
            overflow:hidden;
        }

        .stylish {
            display:block;
            width:100px; height:100px;
            border-radius:66px;
            border:4px double #ccc;
            font-size:20px;
            color:#666;
            line-height:100px;
            text-align:center;
            text-decoration:none;
            text-shadow:0 1px 0 #fff;
            background:#ddd;
        }

        .scrollable {
            height: 100%;
            overflow: auto;
        }

        #list { 
            list-style:none; 
            padding:0; margin:0;
            min-height:100%;
            height:auto; 
            overflow:auto;
        } 
		#list li { 
            padding:5px;

		} 
		#list li:hover { background:#b3d4db; }

        .info {
            
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd; 
            border-top:0px;
        }

        #tips { list-style:none; padding:0; margin:0px 0px 20px 0px; overflow:auto;border:0px solid #cecece; } 
		#tips li { min-width: 250px;
                   margin: 2px 0px 2px 0px;
                   padding:5px 3px 5px 3px; 
                   border-bottom:1px solid rgba(0,0,0,0.1);
                   font-size:smaller; } 

        img.center {   display: block;   margin-left: auto; margin-right: auto; }

        #fsq-attribution {
            background-color: white;
            opacity: 0.7;
            position: absolute;
            right: 0;
            bottom: 5px;
            height: 48px;
        }

        .circle {
            vertical-align:top;
            display: inline-block;
            height: 40px;
            width: 40px;
            line-height: 40px;

            -moz-border-radius: 40px;
            border-radius: 40px;

            background-color: black;
            color: white;
            text-align: center;
            font-size: 12pt;
        }​

        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #FFF;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-thumb {
            background: #CCC;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #AAA;
        }
        ::-webkit-scrollbar-thumb:active {
            background: #888;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
        }
    </style>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "10c4168a-033d-44bd-b657-f0710422964e", doNotHash: false, doNotCopy: false, hashAddressBar: true });</script>
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
 
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
 
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="http://www.planbow.com">Planbow</a>
 
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse pull-right">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Labs/Hot4Dinner">Hot4Dinner</a></li>
                    </ul>
                </li>
                <li><a href="http://blog.planbow.com/">Blog</a></li>
                <li><a href="https://twitter.com/FindPlans" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/Planbow" target="_blank">Facebook</a></li>
                    
            </ul>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="max-height:100%; overflow:hidden;">
        <div class="row">
            <div class="span9">
                <p style="font-size:medium; font-weight:700; margin-top:10px;">
                    <img src="/img/fire_2X.png" style="height:16px;margin-bottom:5px;margin-right:5px;">Hot4Dinner 
                </p>
                <p style="font-size:14px; margin-top:-8px;">
                    A visualization of restaurant openings from <a href="http://www.hot-dinners.com/" target="_blank">Hot-Dinners.com</a> in London
                </p>
            </div>

            <div class="span3" style="text-align:right;">
                 <div style="margin-top:30px;">
                     <span class='st_twitter_hcount' displayText='Tweet'></span>
                     <span class='st_facebook_hcount' displayText='Facebook'></span>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="span3" style="height:100%;height:auto;">
                <div style="margin-bottom:-20px">
                    <ul class="nav nav-tabs">
                        <li data-bind="css: { active: showMode() == 'opened' }" >
						    <a class="active" href="#/opened">Opened</a>
					    </li>
					    <li data-bind="css: { active: showMode() == 'soon' }">
						    <a href="#/soon">Soon</a>
					    </li>
					    @*<li data-bind="css: { active: showMode() == 'trends' }">
						    <a href="#/trends">Trends</a>
					    </li>*@
                    </ul>                    
                </div>
                <div class="info" >
                    <input type="text" data-bind="value: venueFilter, valueUpdate: 'afterkeydown'" placeholder="Restaurant lookup..." 
                            style="margin-left:15px; margin-top: 5px;">
                    <div style="height: 400px; overflow:auto;">                        
                        <ul id="list" data-bind="foreach: filteredVenues">
                            <li  data-bind="click: $root.selectedVenue"><div data-bind="text: name" /></li>
                        </ul>
                    </div>   
                </div>
                 
            </div>
            <div class="span9">
                <!-- Map -->
                <div class="row">
                    <div id="mapContainer" class="span9">
                        <div id="map"></div> 
                        <a href="https://www.foursquare.com"><img id="fsq-attribution" src="/img/poweredFoursquare_gray.png" /></a>
                    </div>
                </div>
                <!-- Venue Info -->
                <div 
                    class="row"
                    style="margin-top:10px;">

                    <div class="span3" >     
                        <span style="font-size:large; font-weight:700" data-bind="text: $root.venueName"></span>

                        <div data-bind="with: $root.venueDetails, visible: $root.venueDetails">
                            <div data-bind="template: { name: 'address-template', data: $root.venueDetails }"></div>
                        </div>        
                
                    </div>

                    <div class="span4" data-bind="with: $root.selectedVenue, visible: $root.selectedVenue">
                        <p data-bind="text: hotDinnerData.description"></p>
                        <p style="text-align:right; margin-top:-15px;font-size:10px;"> <a data-bind="attr: { href: 'http://www.hot-dinners.com' + hotDinnerData.url }">Find out more</a></p>       
                    </div>

                    <div class="span2" data-bind="with: $root.venueDetails, visible: $root.venueDetails">
                        <div data-bind="template: { name: 'stats-template', data: $root.venueDetails }"></div>
                    </div>

                </div>
                <!-- Pictures/Tips -->
                <div class="row">
                    <div class="span3">              
                        <div data-bind="with: $root.venuePhotos, visible: $root.venueDetails" style="margin-top:10px;">
                    
                            <div id="myCarousel" class="carousel slide" style="overflow:hidden">
                                <!-- Carousel items -->
                                <div class="carousel-inner" data-bind="foreach: $root.venuePhotos" style="margin-left:35px;">                          
                                    <div class="item"><img data-bind="attr: { src: prefix + '200x200' + suffix }" /></div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="margin-left:-10px;">&lsaquo;</a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next" style="margin-right:-10px;">&rsaquo;</a>
                            </div>
                        </div>
                    </div>

                    <div class="span6">
                        <div data-bind="with: $root.venueTips, visible: $root.venueTips">                  
                            <ul id="tips" data-bind="foreach: $root.venueTips">
                                <li>
                                    <span data-bind="text: text" /><br /><br />
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>
            </div>              
        </div>        
    </div>
    
    <script src="/Scripts/lib/jquery-1.7.1.min.js"></script>
    <script src="/Scripts/lib/director-1.1.6.min.js"></script>
    
    <script src="http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js"></script>
    <link href="http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css" rel="stylesheet" /> 

    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js"></script>
    <script src="/Scripts/bootstrap.js"></script>

    <script type="text/html" id="address-template">
        <div>
            <div style="display:inline-block;vertical-align:top">
                <a data-bind="attr: { href: 'https://foursquare.com/v/' + id }" target="_blank"><img src="/img/foursquare-16x16.png" style="width:16px;height:16px;margin-right:5px;" /></a>
            </div>
            <div style="display:inline-block">
            
                <span data-bind="text: location.address, visible: location.address"></span><br />
                <span data-bind="text: location.city, visible: location.city"></span><br />
                <span data-bind="text: location.postalCode, visible:location.postalCode"></span><br />
            
                <div data-bind="visible: contact.phone">
                    <img src="/img/phone.png" style="height:16px;margin-right:10px;"/><span data-bind="text: contact.phone"></span>
                </div> 
                <div data-bind="visible: contact.twitter">
                    <img src="/img/twitter.png" style="width:16px;height:16px;margin-right:3px;" /><a data-bind="attr: { href: 'http://www.twitter.com/'+ contact.twitter }"><span data-bind="text: contact.twitter, visible: contact.twitter"></span></a>
                </div>                 
               
                   
            </div>
        </div>
    </script>

    <script type="text/html" id="stats-template">
        <div style="text-align:left">
            <div>
                <div style="display:inline-block">
                    <img src="/img/marker.png" style="text-align:center;margin-left:14px;" /><br />
                    <span style="font-size:10px;text-align:center">Check-ins</span>
                </div>                
                
                <span class="circle" style="font-size:small;background:#008baa;" data-bind="text: stats.checkinsCount"></span>
            </div>
            <div>
                <div style="display:inline-block; margin-right:3px;">
                    <img src="/img/group.png" style="text-align:center;margin-left:6px;" /><br />
                    <span style="font-size:10px;text-align:center;margin-left:10px;">Users</span>
                </div>  
                
                <span class="circle" style="font-size:small;background:#62b2a9;" data-bind="text: stats.usersCount"></span>                
            </div>
            <div>
                <div style="display:inline-block">
                    <img src="/img/ok.png" style="text-align:center;margin-left:10px;" /><br />
                    <span style="font-size:10px;text-align:center">Here Now</span>
                </div>
                
                <span class="circle" style="font-size:small;background:#3b76bf;" data-bind="text: hereNow.count"></span>                
            </div>
        </div>
        
    </script>   

    <script src="/Scripts/hot4dinner.js"></script>
</body>
</html>



