<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Planbow - Hot4Dinner</title>
    
    <!-- Using Google Fonts: Open Sans -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <style>
        body { font-family: 'Open Sans', sans-serif; }

        #mapContainer {
          position:relative;
          height:400px;
          margin-top: 2px;
        }

        #map {
          background:#fff;
          position:absolute;
          width:100%;
          height:100%;
          top:0;
          left:0;
        }        

        #footer {
            height: 50px;
	        background: #008baa;
            bottom:0px;
            width:100%;
	        position:absolute;
            left:0px; 
            overflow:hidden;
        }

        .scrollable {
            height: 100%;
            overflow: auto;
        }

        #list { list-style:none; padding:0; margin:0;height:370px;overflow:auto;border:1px solid #cecece; } 
		#list li { padding:5px;  } 
		#list li:hover { background:#b3d4db; }

        #tips { list-style:none; padding:0; margin:0px 0px 20px 0px; max-height:220px; overflow:auto;border:1px solid #cecece;  } 
		#tips li { padding:3px; border-bottom:1px solid rgba(0,0,0,0.1);font-size:smaller; } 

        img.center {   display: block;   margin-left: auto; margin-right: auto; }

        #fsq-attribution {
            background-color:white;
            opacity:0.7;
          position: absolute;
          right: 0;
          bottom: 5px;
          height: 48px;
        }

        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #FFF;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-thumb {
            background: #CCC;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #AAA;
        }
        ::-webkit-scrollbar-thumb:active {
            background: #888;
            -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
        }
    </style>

    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({ publisher: "10c4168a-033d-44bd-b657-f0710422964e", doNotHash: false, doNotCopy: false, hashAddressBar: true });</script>
    
    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet">
    
</head>
<body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
 
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
 
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="http://www.planbow.com">Planbow</a>
 
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse pull-right">
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Labs <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Labs/Hot4Dinner">Hot4Dinner</a></li>
                    </ul>
                </li>
                <li><a href="http://blog.planbow.com/">Blog</a></li>
                <li><a href="https://twitter.com/FindPlans" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/Planbow" target="_blank">Facebook</a></li>
                    
            </ul>
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="max-height:100%; overflow:hidden;">
        <div class="row">
            <div class="span9">
                <p style="font-size:medium; font-weight:700; margin-top:10px;">
                    <img src="/img/fire_2X.png" style="height:16px;margin-bottom:5px;margin-right:5px;">Hot4Dinner 
                </p>
                <p style="font-size:14px; margin-top:-8px;">
                    A visualization of restaurant openings from <a href="http://www.hot-dinners.com/" target="_blank">Hot-Dinners.com</a> in London
                </p>
            </div>

            @*<div class="span3" style="text-align:right;">
                <div style="margin-top:30px;">
                    <span class='st_twitter_hcount' displayText='Tweet'></span>
                    <span class='st_facebook_hcount' displayText='Facebook'></span>
                </div>                
            </div>*@
        </div>
        <div class="row">
            <div class="span3" >

                <p style="font-size:large;">Recently opened restaurants</p> 
                <ul id="list" data-bind="foreach: venues">
                    <li  data-bind="click: $root.selectedVenue"><div data-bind="text: name" /></li>
                </ul>
                    
            </div>
            <div id="mapContainer" class="span9">
                <div id="map"></div> 
                <a href="https://www.foursquare.com"><img id="fsq-attribution" src="/img/poweredFoursquare_gray.png" /></a>
            </div>
        </div>

        <div class="row"
            style="margin-top:10px;"
            data-bind="with: selectedVenue, visible: selectedVenue">

            <div class="span4" >     
                <span style="font-size:large; font-weight:700" data-bind="text: $root.venueName"></span>

                <div data-bind="with: $root.venueDetails, visible: $root.venueDetails">
                    <div data-bind="template: { name: 'address-template', data: $root.venueDetails }"></div>
                </div>        
                
            </div>

            <div class="span3">                

                <div data-bind="with: $root.venuePhotos, visible: $root.venuePhotos" style="margin-top:10px;">
                    @*<span style="font-weight:700">Photos</span> *@
                    <div id="myCarousel" class="carousel slide" style="overflow:hidden">
                      <!-- Carousel items -->
                      <div class="carousel-inner" data-bind="foreach: $root.venuePhotos" style="margin-left:35px;">                          
                          <div class="item"><img data-bind="attr: { src: prefix + '200x200' + suffix }" /></div>
                      </div>
                      <!-- Carousel nav -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev" style="margin-left:-10px;">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next" style="margin-right:-10px;">&rsaquo;</a>
                    </div>
                </div>
            </div>

            <div class="span5">
                <p data-bind="text: hotDinnerData.description"></p>
                <p style="text-align:right; margin-top:-10px;"> <a data-bind="attr: { href: 'http://www.hot-dinners.com' + hotDinnerData.url }">Find out more</a></p>

                <div data-bind="with: $root.venueTips, visible: $root.venueTips">
                    <span style="font-weight:700">Tips</span> 
                    <ul id="tips" data-bind="foreach: $root.venueTips">
                        <li><span data-bind="text: text" /></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- External libraries and site script -->
    <script src="~/Scripts/ext/jquery.min.js"></script>
    <script src="~/Scripts/ext/underscore.min.js"></script>
    <script src="~/Scripts/ext/modestmaps.min.js"></script>
    <script src="~/Scripts/ext/wax/wax.mm.js"></script>
    <script src="~/Scripts/ext/wax/wax.ext.js"></script>
    <script src="~/Scripts/ext/easey.js"></script>
    <script src="~/Scripts/ext/easey.handlers.js"></script>
    <script src="~/Scripts/ext/mmg.js"></script>
    <script src="~/Scripts/script.js"></script>
    @*<script src="foursquare.js"></script>*@
    
    @*<script src="http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js"></script>*@
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

    <script type="text/html" id="address-template">
        
        <div>
            <span data-bind="text: location.address, visible: location.address"></span><br />
            <span data-bind="text: location.city, visible: location.city"></span><br />
            <span data-bind="text: location.postalCode, visible:location.postalCode"></span><br />
            <img src="/img/foursquare-16x16.png" style="width:16px;height:16px;margin-right:5px;" /><a data-bind="attr: { href: 'https://foursquare.com/v/' + id }" target="_blank">See in Foursquare</a>
            
            <br /><br />
            
            <div data-bind="template: { name: 'stats-template', data: $root.venueDetails }"></div>
            
            <br />
            
            <div data-bind="visible: contact.phone">
                <img src="/img/phone.png" style="height:16px;margin-right:10px;"/><span data-bind="text: contact.phone"></span>
            </div> 
            <div data-bind="visible: contact.twitter">
                <img src="/img/twitter.png" style="width:16px;height:16px;margin-right:3px;" /><a data-bind="attr: { href: 'http://www.twitter.com/'+ contact.twitter }"><span data-bind="text: contact.twitter, visible: contact.twitter"></span></a>
            </div>                 
            @*<div data-bind="visible: url">    
                <img src="/img/globe.png" style="width:16px;height:16px;margin-right:3px;" /><a data-bind="attr: { href: url }">Go to Website</a>
            </div>  *@   
            @*<br />            
            Save to Foursquare *@       
        </div>
        
    </script>

    <script type="text/html" id="stats-template">
        <div style="text-align:left">
            <div style="display:inline;">
                <img src="/img/marker.png" /> 
                
                <span style="font-size:small" data-bind="text: stats.checkinsCount"></span>
                <span style="font-size:small">Check-ins</span>
            </div>
            <div style="display:inline;margin-left:10px;">
                <img src="/img/group.png" /> 
                <span style="font-size:small" data-bind="text: stats.usersCount"></span>
                <span style="font-size:small">Users</span>
                
            </div>
            <div style="display:inline;margin-left:10px;">
                <img src="/img/ok.png" /> 
                <span style="font-size:small" data-bind="text: hereNow.count"></span>
                <span style="font-size:small">Here Now</span>
                
            </div>
        </div>
        
    </script>

    <script src="~/Scripts/hot4dinner.js"></script>
</body>
</html>


